<!doctype html>
<html ng-app="myApp">

<style>
.odd { background-color: #fafafa;}
.even { background-color: #f1f1f1}
</style>

<head>
    <meta charset="utf-8">
    <title>{{moduleHead}}</title>
</head>

<body>
    <div ng-controller="phoneController">
        <div ng-repeat="button in modes">
            <label>
                <input type="radio" ng-model="data.mode" value="{{button.value}}" name="modes" />
                {{button.label}}
            </label>
        </div>
        <div ng-switch on="data.mode">
            <div ng-switch-when="Tablets">
                <ng-include src="'phonesList.html'"></ng-include>
            </div>
            <div ng-switch-when="Phones">
                <ng-include src="'tabletsList.html'"></ng-include>
            </div>
            <div ng-switch-default>
                Выберите товары для просмотра
            </div>
    </div>
        <!--<div ng-include="setFile()"></div>-->
    </div>

    <script src="js/lib/angular.min.js"></script>
    <script type="text/javascript">
        angular.module('myApp', [])
        .run(function ($rootScope){
            $rootScope.moduleHead = "Вы уху ели?";
        });
    </script>
    <script src="js/controllers/phonesController.js"></script>
</body>
</html>